[submodule "modules/psi_common"]
	path = modules/psi_common
	url = https://github.com/paulscherrerinstitute/psi_common
[submodule "modules/clock_measure"]
	path = modules/clock_measure
	url = https://github.com/paulscherrerinstitute/vivadoIP_clock_measure
[submodule "modules/tim320_trigger"]
	path = modules/tim320_trigger
	url = git@github.com:paulscherrerinstitute/tim320_trigger_tmp
[submodule "modules/fw_version_id"]
	path = modules/fw_version_id
	url = https://github.com/paulscherrerinstitute/fw_version_id
